.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Space Grotesk', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #3AAFA9;
  overflow-x: hidden;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.canvas {
  height: 70vh;
  width: 40vw;
  margin-left: 10%;
}

.info {
  height: 70vh;
  width: 40vw;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 12%;
  text-align: left;
}

.info-btn {
  width: 100px;
}

.toggle-btn {
  margin-top: 0.5rem;
}

.title-big {
  color: white;
  text-decoration: underline;
  font-size: 4rem;
  transform: rotate(90deg);
}

.home-text {
  font-style: italic;
}

.logo-text {
  font-size: xx-large;
  font-family: 'Space Grotesk', sans-serif;
}

.logo-img {
  width: 60px;
}

@media screen and (max-width: 640px) {
  .canvas {
    width: 80vw;
  }

  .info {
    width: 80vw;
    margin: auto;
    text-align: center;
    margin-top: 30%;
    height: 50vh;
  }

}